<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="http://172.18.15.101:8081/artifactory/api/nuget/nuget-renlearn" protocolVersion="2" />
    <add key="Artifactory" value="http://172.18.15.101:8081/artifactory/api/nuget/nuget" protocolVersion="2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://www.nuget.org/api/v2/" value="true" />
    <add key="NuGet official package source" value="true" />
  </disabledPackageSources>
</configuration>